:root {
  
  /* dimensions */
  --btnHt: 2.75rem;
  --navBarHt: 4rem;
  
  /* margins */
  --m1: 0.5rem;
  --m2: 0.75rem;
  --m3: 1rem;
  --m4: 1.25rem;
  --m5: 1.5rem;
  --m6: 1.75rem;
  
  /* colors */
  --colPri: #FCE38A;
  --colPriVar: #F38181;
  --colSec: #EAFFD0;
  --colSecVar: #95E1D3;
  
}

* {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


/* REACT COMPONENTS STYLES */
.con-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--navBarHt);
  width: 100vw;
}

.inp-search-bar {
  outline: none;
  height: 3rem;
  border-radius: 8px 0 0 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0 var(--m2);
  border-right: none;
}
.btn-search {
  height: 3rem;
  background: var(--colPriVar);
  border-radius: 0 8px 8px 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0 var(--m2);
  color: white;
  border-left: none;
}


.poke-card-con {
  width: 50vw;
  margin-top: var(--btnHt);
  height: fit-content;
  padding: var(--m2);
  border-radius: var(--m1);
}
.poke-card-img {
  height: 75px;
  width: 75px;
}
.poke-card-btn {
  
}

